#back-to-top-div {
    /*margin-bottom: 40px;*/
    position: fixed;
    bottom: 0;
    right: 20px;
    z-index: 1;
    color: gray;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

#back-to-top-div:hover {
    color: #f7a707;
}

.app-header.navbar {
    font-size: 13px;
    background: #0078bb;
    border-bottom: 1px solid #0078bb;
    color: #fff;
}

.navbar .navbar-brand {
    max-height: 50px;
    background-image: none !important;
    color: #fff;
    text-align: center;
    padding: .25rem 0rem .25rem .25rem;
    width: unset !important;
    margin-left: 0px !important;
}

.navbar .navbar-brand img {
    max-width: 100%;
    max-height: 50px;
    vertical-align: -webkit-baseline-middle;
}

.navbar {
    padding: 0 !important;
}

.navbar .container-fluid {
    overflow: initial;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    background: #0078bb;
    border-bottom: 1px solid #0078bb;
    color: #fff !important;
}

.navbar .dropdown-toggle {
    color: #fff !important;
    padding-left: 20px !important;
}


.app-body .main {
    overflow-x: auto;
    overflow-y: hidden;
}

.dropdown-toggle::after {
    display: none !important;
}

.ml-auto {
    margin-left: auto !important;
}

@media (min-width: 768px) {
    .DropdownMenuRightclear {
        right: 0;
    }

    .DropdownMenu-submenu {
        right: 100px !important
    }
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #0078bb;
}

.dropdown-item i {
    display: inline-block;
    width: 20px;
    margin-right: 10px;
    margin-left: -10px;
    color: #d1d4d7;
    text-align: center;
}