#mainBodyContainer {
    padding: 10px 0px 0 0px;
}

.pageTitle {
    font-weight: bold;
    color: #515151;
}

.rewardPointsDivision {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #515151;
    /* background-image: linear-gradient(#515151, white); */
    background-image: linear-gradient(to right, white, #515151, lightgray);
    text-align: center;
    color: white;
}

.rewardPointsDivision h3 {
    margin: 0;
    font-weight: bold;
}

#home-main-container {
    height: 100%;
    width: 100%;
}

#userMainContainer {
    position: relative;
    height: calc(100% - 200px);
    text-align-last: center;
    overflow-y: auto;
}

#userProfile {
    font-size: 20px;
    ;
}

#upper-section-background {
    /* margin-top: 15px; */
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #666;
    padding: 10px 10px 0px 10px;
    box-shadow: inset 0px 1px 20px -4px #000 !important;
    margin-top: 10px;
    /* margin-left: -20px; */
    /* margin-right: -20px; */
}

#card-container-face {
    animation: card-slide-in 0.5s forwards;
    -webkit-animation: card-slide-in 0.5s forwards;
    position: relative;
    padding: 15px;
    top: 3%;
    height: 220px;
    width: 100%;
    border-radius: 15px;
    background-image: url('/images/frontCard.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: linear-gradient(to bottom right, #515151, #515151, lightgray); */
}

@keyframes card-slide-in {
    0% {
        left: -100%;
    }

    100% {
        left: 0px;
    }
}

@-webkit-keyframes card-slide-in {
    0% {
        left: -100%;
    }

    100% {
        left: 0px;
    }
}

#card-face-logo-img {
    height: 50px;
    border-radius: 10%;
}

#card-face-rewards-label {
    font-size: 25px;
}

#card-face-card-number {
    font-size: 25px;
    font-weight: 500;
}

#card-face-client-name {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}



#card-container-tail_old {
    animation: card-slide-out 0.5s backwards;
    -webkit-animation: card-slide-out 0.5s backwards;
    position: relative;
    top: 3%;
    height: 220px;
    width: 100%;
    border-radius: 15px;
    background-image: url('/images/backCard.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#card-container-tail {
    animation: card-slide-out 0.5s backwards;
    -webkit-animation: card-slide-out 0.5s backwards;
    position: relative;
    top: 3%;
    height: 220px;
    width: 100%;
    border-radius: 15px;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes card-slide-out {
    0% {
        right: -100%;
    }

    100% {
        right: 0px;
    }
}

@-webkit-keyframes card-slide-out {
    0% {
        right: -100%;
    }

    100% {
        right: 0px;
    }
}

#card-tail-client-name {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

#card-tail-barcode {
    text-align: center;
}

#card-tail-card-number-container {
    position: relative;

}

#card-tail-card-number {
    width: fit-content;
    margin: auto;
}

#card-tail-footer-caption {
    position: absolute;
    bottom: 5px;
    width: 100%
}

.carousel-dot {
    height: 10px;
    width: 10px;
    background-color: lightgray;

    color: red;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid transparent;
}

.carousel-dot-filled {
    background-color: white;
}

.outline-text {
    color: transparent;
    -webkit-text-stroke: 0.5px black;
    text-transform: uppercase;
}

.upper-section-carousel {
    height: 50%;
    position: relative;
}

#headerLogo, #headerLogoIOS {
    width: 240px;
    height: 60px;
    object-fit: cover;

}