.filter-group-unselectable-li {
    user-select: none;
}

.filter-group-unselectable-li::marker {
    color: aqua;

}

.filter-group-li {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    /* margin-left: 10px; */
    margin-right: 18px;
    margin-bottom: 8px;
    padding: 2px 8px 2px 6px;
    background-color: var(--background-page);
    border: var(--border-width) solid var(--border-subdued);
    border-radius: 100px;
    transition: border-color var(--fast) var(--transition);
}

.filter-group-li>.v-icon {
    cursor: grab;
}

.filter-group-li .v-icon-image {
    color: var(--v-icon-color)
}

.filter-group-li .v-icon-image:active {
    cursor: grabbing;
}

.filter-group-li-colCaption {
    font-size: medium;
    min-width: 12ch;
    font-weight: 400;
    user-select: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.filter-group-li-button {
    /* color: var(--foreground-subdued); */
    background-color: var(--background-page);
    border: var(--border-width) solid var(--border-subdued);
    border-radius: 100px;
    transition: border-color var(--fast) var(--transition);
    font-size: medium;
    font-weight: bold;
}

.filter-group-li-button:hover {
    background-color: var(--background-subdued);
}

.filter-group-li-button-conditionalOp {

    margin-right: 4px;
    padding: 2px 6px;
    font-size: medium;
    font-weight: bold;
    border: var(--border-width) solid var(--border-subdued);
    border-radius: 6px;
    cursor: pointer;
    transition: var(--fast) var(--transition);
    transition-property: color, background-color;
    transition: border-color var(--fast) var(--transition);
}

.AND {
    color: var(--primary);
    background-color: var(--primary-alt);
}

.OR {
    color: var(--secondary);
    background-color: var(--secondary-alt);
}


.filter-group-li-input {
    color: var(--primary);
    font-family: var(--family-monospace);
    line-height: 1em;
    background-color: var(--background-page);
    border: none;
    outline: none;
    width: 3ch;
}

.filter-group-li-delete {
    opacity: 0;
    transition: opacity var(--fast) var(--transition);
    color: var(--foreground-subdued);
    cursor: pointer !important;
    /* --v-icon-color: var(--foreground-subdued);
    --v-icon-color-hover: var(--danger); */
}

input[type="date"].filter-group-li-input {
    width: 3ch;
    pointer-events: none;
    /* opacity: 0 */
}

input.filter-group-li-input {
    writing-mode: horizontal-tb;
}


input[type="date"].filter-group-li-input::-webkit-calendar-picker-indicator {
    position: relative;
    /* left: 9999px; */
    width: 20px;
    height: 20px;
    /* background: url(calendar-icon.png) no-repeat center center; */
    /* background-size: contain; */
    cursor: pointer;
    pointer-events: all;
}

.filter-group-li-delete:hover {
    cursor: pointer !important;
    color: var(--danger);
    opacity: 1;
}

.filter-group-li-input-and {
    background-color: var(--background-page);
    font-size: medium;
    font-weight: bold;
    margin-right: 1ch;
    margin-left: 1ch;
}