#mainHeaderContainer {
    height: 90px;
    position: relative;
}

#mainHeaderContainerIOS {
    height: 120px;
    position: relative;
}

#emptyHeader {
    height: 20px;
    background-color: #515151;
}

#emptyHeaderIOS {
    height: 40px;
    background-color: #515151;
}

#headerLogo {
    position: absolute;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#headerLogoIOS {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}