.btn-custom {
    color: #fff !important;
    background-color: #0078bb !important;
    border-color: #0078bb !important;
}

.btn-custom:hover {
    color: #fff;
    background-color: #086aa0;
    border-color: #086aa0;
}

.btn-radius {
    border: 1px solid gray;
    border-radius: 5px;
}

.btn-yellow {
    background: #f1e767;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f1e767, #feb645);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f1e767, #feb645);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f1e767, #feb645);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f1e767, #feb645);
    /* Standard syntax */
}

.btn-block {
    display: block;
    width: 100%;
}

.btn {
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    transition: all 0.2s ease-in-out;
}


/* from customstyle.css */

.buttonsContainer,
.componentButtonsContainer {
    background: #ececec;
}

.buttonsContainer button,
.componentButtonsContainer button {
    line-height: 20px;
}

.buttonsContainerInModal {
    position: sticky;
    z-index: 1000;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -24px;
    top: 50px;
    background: #E8E7E7;
}

.topIcons {
    border: none;
    background: none;
    margin: 0 5px;
}

.topIcons i {
    font-size: 18px;
    margin-right: 5px;
}