.monthCard {
    clear: both;
    height: fit-content;
    margin-top: 30px;
}

.monthCardHeader {
    color: #515151;
    margin-bottom: 10px;
    border-bottom: 1px solid silver;

}


.branchVisited {
    font-weight: 600;
    white-space: nowrap;
}

.visitDate {
    font-size: 12px;
    font-style: italic;
}

#loadMore {
    color: #515151;
    font-style: italic;
    text-align: center;
}