#contactUsMainContainer .locationsDetails {
    height: 70px;
}

#contactUsMainContainer .locationsDetails {
    padding-top: 10px;
    border-bottom: 1px solid silver;
    font-weight: bold;
}

#contactUsMainContainer .locationsDetails h6 {
    margin: 2px;
}

#contactUsMainContainer .locationsDetails .col-1 {
    padding: 10px 0 0 0;
}

#contactUsMainContainer .locationsDetails .col-1 a {
    color: #515151;
}

.ispetMartOpenOrClosed {
    border-radius: 10px;
    font-weight: 600;
    color: white;
    width: fit-content;
    padding: 0 8px;
}

.petMartOpen {
    background-color: #008000;
}

.petMartClosed {
    background-color: red;
}