#clearButton {
    background-color: #a1a1a1;
    padding: 0px 10px;
    width: fit-content;
    float: right;
    border-radius: 10px;
    color: #fff;
}

.notificationDetailsCard {
    border-bottom: 1px solid silver;
    margin-bottom: 20px;
    margin-left: 5px;
}

.notificationTitle {
    color: #515151;
    margin: 0;
}

.notificationDate {
    font-size: 12px;
    font-style: italic;
}

#clearModalMainContainer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: black;
    opacity: 0.6;
    display: none;
}

#clearModal {
    position: absolute;
    background-color: white;
    z-index: 50;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: fit-content;
    width: 70%;
    border: 1px solid silver;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px silver;
}

.notificationDescription {
    /* display: -webkit-box; */
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}