#install-fab {
    color: #515151;
    cursor: pointer;
    font-weight: 500;
    position: fixed;
    right: 0px;
    text-decoration: none;
    top: 0px;
    padding: 5px;
    border-radius: 10px;
    z-index: 1000;
    background-color: #c3cfe2;
}

#install-fab:hover {
    text-decoration: underline;
}
